body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fca815;
    font-family: 'Abril Fatface', cursive;
  }

  .hello{
      margin-top: -1000px;
      margin-left:35vw;
      color:#6b724e;
      font-size:150pt;
  }

  .red_line_home{
      background-color: #923a21;
      width:100px;
      height: 1200px;
  }


  /*EVERYTHING HERE IS FOR THE HAMBURGER HOME PAGE */

  .hamburger {
    margin: 30px;
    margin-top: -850px;
    width: 40px;
    height: 35px;
    z-index: 10;
  }
  .hamburger .line {
    width: 40px;
    height: 5px;
    background-color: #e4c5a7;
    display: block;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover .line {
    background-color: yellow;
  }
  
  /* menu style */
  .menu_hidden .menu {
    /* THE STARTING POSITION SO THAT THE MENU IS HIDDEN */
    left: -60vw;
  }
  
  .menu {
    /* WIDTH SHOULD MATCH THE AMOUNT IT IS HIDDEN BY */
    width: 60vw;
    height: 100vh;
    background-color: #6b724e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }
  
  .menu a {
    display: block;
    padding: 20px;
    text-align: center;
    color: #e4c5a7;
    font-size: 3em;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: #fca815;
  }
  
  /* CLOSE ICON */
  .menu_close {
    position: absolute;
    right: 45px;
    top: 20px;
  }
  
  .menu_close .line {
    width: 40px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .menu_close .line:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
  }
  
  .menu_close .line:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .menu_close:hover .line {
    background-color: red;
  }








/* tablet size 768px x 1024px edits*/
@media screen and (max-width: 1024px) and (min-width: 768px) {


  .hello{
    margin-top: -1000px;
    margin-left:20vw;
    color:#6b724e;
    font-size:150pt;
}


}



 /* Phone Styles width 767px */
 @media screen and (max-width: 767px) {
  .hello{
    margin-top: -1000px;
    margin-left:25vw;
    color:#6b724e;
    font-size:100pt;
}
.hamburger {
  margin: 30px;
  margin-top: -625px;
  width: 40px;
  height: 35px;
  z-index: 10;
}

}



 