body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hamburger {
    margin: 10px;
    width: 40px;
    height: 35px;
    z-index: 10;
  }
  .hamburger .line {
    width: 40px;
    height: 5px;
    background-color: black;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .menu_hidden .menu {
    left: -60vw;
  }

  .menu {
    width: 60vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }

  .menu a {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 3em;
    text-decoration: none;
  }
  
  .menu_close {
    position: absolute;
    right: 45px;
    top: 20px;
  }

  .menu_close .line {
    width: 40px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .menu a:hover {
    color: blue;
  }

  .menu_close .line:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
  }
  
  .menu_close .line:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .menu_close:hover .line {
    background-color: red;
  }
  